* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Libre Baskerville', serif;
}

.title{
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    font-size:14pt;
    color: white;
    height: 100vh;
}

.title__author{
    font-size: 8pt;
    font-style: italic;
    line-height: 0;
}

.title__and{
    color:orange;
    width:100%; 
    text-align:center; 
    border-bottom: 1px solid orange; 
    line-height:0.1em; 
    margin:10px 0 20px;
}

.title__and--span{
    background:black;
    padding:0 10px;
    font-size: 16pt;
}

.title__text{
    word-spacing: 20913px;
    line-height: 1;
}

.navigation{
    right: 5%;
    top: 50%;
    position: fixed;
    color:red;
}
.chapter__1 {
    height: 100vh;
    background: red;
}
.chapter__2 {
    height: 100vh;
    background: orange;
}
.chapter__3 {
    height: 100vh;
    background: yellow;
}
.chapter__4 {
    height: 100vh;
    background: blueviolet;
}
.chapter__5 {
    height: 100vh;
    background: blue;
}
.chapter__6 {
    height: 100vh;
    background: greenyellow;
}